.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  gap: 3.5rem;
}
.movies a {
  text-decoration-line: none;
  text-decoration: none;
  color: white;
}
